.contacts {
  padding-block: 80px;

  &__icon {
    height: 100px;

    @media (max-width: 768px) {
      height: 70px;
    }
  }
}

input {
  width: 100%;
  padding: 15px 25px;
  border-radius: 31px;
  border: 3px solid #D5D5D5;

  background: rgba(255, 255, 255, 0.5);

  font-size: 16px;

  color: #515151;
}